body {
    height: 100vh;
    font-family: 'Manjari', sans-serif;
    display: flex;
    font-size: 18px;
    margin: 0px;
    background-color: black;
    padding-left: 20vw;
    padding-right: 20vw;
}

.left-side {
    flex: 1;
    background-image: url("/images/bg-image.jpg"); 
}

.right-side {
    flex: 2; 
    background-color: white;
}

#the-form {
    padding: 10px 30px;
}

#form-section-1 {
    display: flex;
    padding-bottom: 20px;
}

#left-form {
    margin-right: 40px;
}

#intro {
    padding: 20px 30px;
}

form {
    font-size: 14px;
}

#form-section-2 {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}

.upper-text {
    font-weight: 600;
}

.lower-text {
    font-size: 16px;
}

#submit-button {
    background-color: #596D48;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 800;
    width: 180px;
    border-radius: 8px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}

input {
    height: 30px;
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

#logo-div {
    background-color:#00000090;
    color: white;
    margin-top: 100px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    height: 120px;
    align-items: center;
}

#logo-div div {
  font-weight: 800;
  height: 70px;
  font-family: 'Syne Mono', monospace;
}
