body {
    height: 100vh;
    font-family: 'Manjari', sans-serif;
    display: flex;
    font-size: 18px;
    margin: 0px;
    background-color: black;
    padding-left: 14vw;
    padding-right: 14vw;
}

.left-side {
    flex: 1;
    background-image: url("/images/bg-image.jpg"); 
}

.right-side {
    flex: 2; 
    background-color: whitesmoke;
}

#form-middle {
    display: flex;
    padding: 20px 30px;
}

#left-form {
    margin-right: 40px;
}

#form-head {
    padding: 20px 30px;
}